/* ==========================================================================
   Gruvbox skin
   ========================================================================== */

/* Colors */
$gray                       : #fbf1c7 !default;
$dark-gray                  : mix(#eeeee5, $gray, 40%) !default;
$darker-gray                : mix(#28303c, $gray, 60%) !default;
$light-gray                 : mix(#bdae93, $gray, 50%) !default;
$lighter-gray               : mix(#a89984, $gray, 90%) !default;

$body-color                 : #161613 !default;
$background-color           : #272822 !default;
$code-background-color      : $lighter-gray !default;
$code-background-color-dark : $light-gray !default;
$text-color                 : $dark-gray !default;
$border-color               : $lighter-gray !default;

$primary-color              : $gray !default;
$success-color              : #a6e22e !default;
$warning-color              : #e77018 !default;
$danger-color               : #bc1d23!default;
$info-color                 : #54a8b6!default;

/* links */
$link-color                 : $info-color !default;
$link-color-hover           : mix(#928374, $link-color, 25%) !default;
$link-color-visited         : mix(#fbf1c7, $link-color, 25%) !default;
$masthead-link-color        : $primary-color !default;
$masthead-link-color-hover  : mix(#689d6a, $primary-color, 25%) !default;

/* notices */
$notice-background-mix: 90% !default;
$code-notice-background-mix: 95% !default;

/* Header font size */

$header1-font-color          : #e92660;
$header2-font-color          : #e1961f;
$header3-font-color          : #808ee3;
$header4-font-color          : #55a6dd;
$header5-font-color          : #fa5c87;
$header6-font-color          : #8fc4e7;

$emphasis-font: (
    "bold":               #e1901f,
    "italics":        #e1901f,
    "underline":      #e1901f,
    "strikethrough":  #e1901f
);
$blockquote:(
    "color": #c1beb8
);
            $border:(
    color: #e95678
);
