/* ==========================================================================
   Gruvbox skin
   ========================================================================== */

/* Colors */
$gray                       : ##3e3e34 !default;
$dark-gray                  : mix(#282828, $gray, 40%) !default;
$darker-gray                : mix(#3c3836, $gray, 60%) !default;
$light-gray                 : mix(#504945, $gray, 50%) !default;
$lighter-gray               : mix(#665c54, $gray, 90%) !default;

$body-color                 : #ebdbb2 !default;
$background-color           : #fbf1c7 !default;
$code-background-color      : $lighter-gray !default;
$code-background-color-dark : $light-gray !default;
$text-color                 : $dark-gray !default;
$border-color               : $lighter-gray !default;

$primary-color              : $gray !default;
$success-color              : #98971a !default;
$warning-color              : #d65d0e !default;
$danger-color               : #fb4934 !default;
$info-color                 : #689d6a !default;

/* links */
$link-color                 : $info-color !default;
$link-color-hover           : mix(#928374, $link-color, 25%) !default;
$link-color-visited         : mix(#fbf1c7, $link-color, 25%) !default;
$masthead-link-color        : $primary-color !default;
$masthead-link-color-hover  : mix(#689d6a, $primary-color, 25%) !default;

/* notices */
$notice-background-mix: 90% !default;
$code-notice-background-mix: 95% !default;

/* Header font size */

$header1-font-color          : #1e99aa;
$header2-font-color          : #e19b1d;
$header3-font-color          : #8f3f71;
$header4-font-color          : #9d0006;
$header5-font-color          : #91760e;
$header6-font-color          : #457b58;

$emphasis-font: (
    "bold":                #2a2928,
    "italics":        #2a2928,
    "underline":      #2a2928,
    "strikethrough":  #2a2928
);
$blockquote:(
    "color": #504945
);
$border:(
    color: #282828
);
282828
